.list, a.link{
    text-align: left;
    font-size: 25px;
    color: green;
    font-weight: bold;
}

h1,h2{
    text-align: center;
    color: navy;
    text-decoration: underline;
}

.pic{
    display: block;
    margin: auto;
}

div.general-list,p{
    text-align: left;
    font-family: Tahoma;
    font-size: 20px;
    color: navy;
}

